/* Apply.css */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.apply-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('C:\\Users\\hp\\Downloads\\med1.jpeg'); /* Make sure this path is correct */
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.apply-container h2 {
  color: white;
  font-weight: bold;
  background-color: #3d3b3b; /* Light blue */
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.apply-form {
  background-color: rgba(2, 154, 165, 0.719);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 440px;
}

.apply-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 1rem;
}

.apply-form input,
.apply-form select,
.apply-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.apply-form textarea {
  height: 100px;
}

.apply-form button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
}

.apply-form button[type="submit"]:hover {
  background-color: #0062cc;
}
