.navbar {
  position: flex;
  top: 1%;
  width: 50%;
  background-color: #0952f050;
  z-index: 1000; /* stays above other elements */
}

  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar li a:hover {
    background-color: #111;
  }
  